@using Webfeb.Models.Admin
@model CategoryEditViewModel
@{
    Layout = "~/Views/ShareAdmin/_AdminLayout.cshtml";
}

<form method="POST">
    <div class="row">
        <div class="col-sm-4">
            <div>
                Category Name:
                <input type="text"
                       name="Name"
                       class="form-control"
                       value="@Model.SelectedCategory.Name" />
            </div>
            <div>
                Parent:
                <select name="ParentId" class="form-control">
                    <option>Without</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-info">Save</button>
        </div>
    </div>
</form>

@section scripts{
    <script>
        $(function(){
            $('select[name="ParentId"]').val(@Model.SelectedCategory.ParentId)
        });
    </script>
}