<div class="container">
    <div class="col-4 offset-4">
        <form method="post">
            <labal>Username</labal>
            <input type="text" class="form-control" name="Username"/>
             <labal>Password</labal>
            <input type="password" class="form-control" name="Password"/>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
         
    </div>
</div>
