<div class="container">
    <div class="col-4 offset-4">
        <form method="post">
            <labal>Username</labal>
            <input type="text" class="form-control" name="Username"/>
            <labal>Email</labal>
            <input type="email" class="form-control" name="Email"/>
             <labal>Password</labal>
            <input type="password" class="form-control" name="Password"/>
                 <labal>Password Confirm</labal>
            <input type="password" class="form-control" name="PasswordConfirm"/>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
         
    </div>
</div>
